@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 24xp;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 14px;
  font-weight: 400;
}

.container__left {
  display:flex;
  flex-direction: column;
  align-items: center;
  float: left;
  width: 17%;
  height: 100%;
  position: fixed;
  background-color: #5f6d7e;
}

.profile__photo img {
  width: 180px;
  height: 180px;
  margin-top: 100px;
  border: white solid 2px;
  border-radius: 50%;
}

.profile-title {
  margin-top: 20px;
  line-height: 130%;
  color: white;
}

.container__left .profile__links {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.profile__links img {
  width: 17px;
  margin-right: 15px;
}

.profile__links a {
  line-height: 300%;
  text-decoration: none;
  font-size: 24px;
  color: white;
  transition-duration: 1s;
}

.profile__links a:hover {
  transform: translate(20px);
}

.profile__icon-media img {
  width: 25px;
  margin-top: 50px;
  padding-left: 15px;
}

.container__right {
  float: right;
  width: 83%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top__banner {
  height: 30%;
  background-image: url(../img/bg/banner-top.png);
  background-position: center;
  background-size: cover;
}

.top__container {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.top__container h1 {
  padding-top: 2%;
  padding-left: 15%;
  line-height: 200%;
  font-size: 48px;
  color: white;
}

.top__container p {
  width: 60%;
  padding-top: 2%;
  padding-left: 15%;
  line-height: 150%;
  font-size: 18px;
  color: white;
}

.main__box {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main__about h1, .gallery__title h1, .contac h1 {
  margin-top: 35px;
  padding-left: 2%;
  color: black;
}

.main__box img {
  width: 90%;
  margin-top: 35px;
  margin-left: 5%;
  border: #dddddd solid 5px;
}

.main__text p, .gallery__title p, .contac p  {
  width: 90%;
  margin-top: 30px;
  padding-left: 5%;
  line-height: 150%;
  color: black;
}

.line_border {
  margin: 5%;
  border: #dddddd solid 5px;
}

.gallery_box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.gallery__photo {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 5%;
}

.contact__data {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 2%;
  margin-top: 30px;
  padding-left: 5%;
}

.contact__data input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}

.conatct__textarea {
  margin-top: 20px;
  padding-left: 5%;
}

.conatct__textarea textarea {
  width: 95.3%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.contact__button {
  margin-top: 20px;
  padding-left: 5%;
}

.contact__button button {
  width: 10%;
  padding: 10px;
  background-color: #5f6d7e;
  font-size: 16px;
  border: black solid 1px;
  color: white;
}

footer {
  text-align: center;
  padding: 0.5%;
}